@import '../../App.scss';

.hero-wrapper {
    height: 5rem;
    background-color:$mercury;

    .hero-statement {
        @include h1-header;
    }
}

.dropdown {
    background-color: #2ed573;
    width: 250px;
    height: 48px;
    font-weight: bold;
    border-radius: 1px;
    margin-left: 50px;
    color: white;;

    
}